@media only screen 
	and (min-device-width: 320px)
	and (max-device-width: 812px)
	and (-webkit-min-device-pixel-ratio: 2){

.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}
.head-text h1 {
    font-family: Montserrat-Bold;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 40px;
}
.head-text {
    padding-top: 30%;
}
.icons {
    padding-top: 20%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.left-nav {
    height: 100vh;
    background-color: #1a1a1a;
    width: 25%;
}
.right-nav{
	height: 100vh;
	/*width: 75%;*/
}
.modal-dialog {
    max-width: 350px !important;
    margin: 3.75rem auto !important;
}


}

@media (min-height: 600px) and (max-height: 610px) {
.icons{
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.head-text{
    padding-top: 10%
}
.signin-btn{
    background: #0774BB;
    border: none;
    border-radius: 25px;
    font-family: Montserrat-SemiBold;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 8px 2.5rem;
}
.get-started-btn{
    background: #0774BB;
    border-radius: 30px;
    border: none;
    font-family: Montserrat-Medium;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 10px 3em;
    transition: 2s ease-in-out all;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}


.download-btn{
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    padding: 5px 25px;
    font-size: 12px;
    font-family: Montserrat-Regular;
    color: #0774BB;
    font-weight: 600;
    height: 34px;
    margin-top: 2em;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
}
.icons p{
    padding-top: 5px;
    font-family: Montserrat-Regular;
}
.tablinks p{
    font-size: 9px;
    padding: 5px;
    font-family: Montserrat-Regular;
}
.modal-dialog {
    max-width: 350px !important;
    margin: 2.75rem auto !important;
}
.advertisers-text{
    transition: .2s ease-in-out all;
    padding-top: 10%;
    width: 50%;
}
.advertisers-text h1{
    font-family: Montserrat-Medium;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-bottom: 30px;
}
.advertisers-text p{
    opacity: 0.8;
    font-family: Montserrat-Regular;
    font-size: 16px;
    color: #E8E8E8;
    letter-spacing: 0;
    padding-bottom: 30px;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.3rem 1rem;
}
.form-input{
    width: 100%;
    border: 1px solid #9D9D9D;
    background-color: #9D9D9D;
    border-radius: 8px;
    font-size: 13px;
    padding: 7px;
    opacity: 0.9;
    font-family: Montserrat-Regular;
}

}

@media (min-width: 768px) and (max-width: 1024px) {
/*.icons{
    padding-top: 14%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.head-text{
    padding-top: 15%
}*/

}

@media (min-width: 800px) and (max-width: 1280px) {
/*.icons{
    padding-top: 14%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}*/

}

@media (min-height: 927px) and (max-height: 1050px) {
    .head-text{
        padding-top: 27%
    }
    .icons{
        padding-top: 25%;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}